body {
  background-color: #eef9bf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo {
  width: 550px;
  height: 63px;
  font-size: 56px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #75B79E;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 872px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerMaior {
  width: 100%;
  height: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .5s;
  margin-bottom: 20px;
  margin-right: 5px;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.back-face {
  backface-visibility: hidden;
}

.revelarcarta {
  transform: rotateY(180deg);
}

img {
  width: 100px;
  height: 100px;
}

.caixa-do-contador {
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  text-align: center;
}

.contador {
  background-color: #eef9bf;
  font-family: 'Roboto', sans-serif;
  color: #75B79E;
  font-size: 4em;
  border-radius: 10px;
}

.rotulo {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1em;
}

@media (max-width: 600px) {

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    width: 500px;
  }

  .containerMaior {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}