
          body {
            background-color:  #eef9bf;
          }

          .titulo {
            
            width: 550px;
            height: 63px;

            font-size: 56px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            color: #75B79E;
            display: flex;
            justify-content: center;
            margin-top: 40px;
          }

          .topo {
           
            width: 100%;
            display: flex;
            justify-content: center;
          }

          .container{
            width: 872px;
            height: 500px;
          
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
          }

          .containerMaior {
            
            
            width: 100%;
            height: 820px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .card {
            width: 117px;
            height: 146px;
            position: relative;
          }
    
          .face {
            width: 100%;
            height: 100%;
            background-color: #A7E9AF;
            border-radius: 10px;
            box-shadow: 1px 1px 1px rgba(0,0,0,.3);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            backface-visibility: hidden;
            transition: all .5s;
            transform-style: preserve-3d;
          }
    
          .back-face {
            transform: rotateY(180deg);
          }
    
          .card:hover .back-face {
            transform: rotateY(0deg);
          }
    
          .card:hover .front-face {
            transform: rotateY(-180deg);
          }

          img {
            width: 100px;
            height: 100px;
          }